<div class="padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 padded">
        <a href="./dogs/show" class="btn-treehouse">Hunderassen</a>
      </div>
      <div class="col-xs-12 col-sm-4 padded">
      <a href="./animals/show" class="btn-treehouse">Präparate</a>
      </div>
      <div class="col-xs-12 col-sm-4 padded">
      <a href="./birds/show" class="btn-treehouse">Zuordnung Vögel</a>
      </div>
    </div>
  </div>
</div>